.text {
  font-size: 40px;
}

.title{
 color: green;
 font-size: 40px;
 font-weight: bold;
 text-align: center
}

.form {
    width: 500px;
    margin: 20px auto;
    border-radius: 5px;
    font-size: 16px;
}

.name,
.story,
.gender,
.genres,
.select,
.hero,
.tabl1,
.tabl2 {
	font-size: 20px;
	font-weight: bold;
}

.button,
.registration,
.website,
.img {
	display: flex;
    justify-content: center;
	font-weight: bold;
}